* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}

body {
  background-color: rgb(13, 13, 104);
}

.container-fluid {
  width: 410px;
  margin: 50px auto;
  padding: 10px;
}

header {
  background-color: black;
  color: white;
  padding: 3vh;
  font-size: 2vh;
  text-align: center;
}
